/*--------------CONTENT-------------------*/
.hBanner {
    z-index: -1;
}
.articleBg {
    background-color: #fff;
}
.articlePadding {
    padding: 40px 50px;
}
.section1 {
    margin: 90px 0px 100px 0px;
    font-family: monospace ;
    font-size: 30px;
}
.xFlowContainer {
    background-color: whitesmoke;
    flex-wrap: nowrap;
    display: grid;
    grid-auto-columns: 33%;
    overflow-x: auto;
    grid-auto-flow: column;
    width: 820px;
    height: 252px;
}
.xFlow {
    display: inline;
    width: 200px;
    height: 200px;
    box-shadow: -20px 20px 28px -27px #000000, 0px 0px 0px 0px rgba(0,0,0,0);
    line-height: 100px;
    text-align: center;
    margin-top: 15px;
}
#register {
    padding: 1rem;
    border-radius: 10px;
    border-style: none;
    color: whitesmoke;
    background-color: #2f9debcc;
    font-size: larger;
}
#register:hover {
    color: blue;
    background-color: #1626a2;
}